@primary-background-color : #F4F3F0;
@secondary-background-color: #307caf;
@tertiary-background-color: #888;

@primary-text-color: #333;
@secondary-text-color: #F0EDE6;

@accent-background-color: #3D5B99;
@accent-text-color: #8FA89B;

@border-color: rgba(255, 255, 255, 0.12);

#break-points {
    tablet: 768px;
    desktop: 1025px;
    wide: 2300px;
}

