<header>
    <section class="grid">
        <div class="row">
            <h1 class="col-12 col-md-6 col-lg-4">Portafolios</h1>
        </div>
    </section>
    <nav class="nav-links row">
        <ul class="nav-links col-12 col-md-6 col-lg-4">
            <li><a href="#como">Funciones</a></li>
            <li><a href="#funciones">Integraciones</a></li>
            <li><a href="#precios">Conctatos</a></li>
            <li><a href="#cta" class="btn-nav">Obtener Acceso</a></li>
        </ul>
    </nav>
</header>