
    <div class="grid justify-center ">
        {{#each card-data-set}}
        <div class="col-12 col-md-6 col-lg-4 justify-center align-items-end">
            {{> List this}}
        </div>
        {{/each}}
    </div>
